# --- Base de données ---
sqlalchemy
psycopg2-binary

# --- API REST ---
fastapi
uvicorn[standard]
pydantic

# --- ETL & Data ---
pandas
numpy
requests
pyarrow

# --- Monitoring ---
prometheus-fastapi-instrumentator

# --- Utilitaires ---
python-dotenv